p{
    font-family: Verdana;
    font-size: 22px;
}

h1{
    text-align: center;
    margin: 0 0 20px 0;

}

form{
    width: 500px;
    margin:auto;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

textarea{
    height: 140px;
}


svg{
    width: 100%;
    height: auto;
    position:fixed;
    top: 1;
    left: 0;
    z-index: -1;
}

button {
    width: 100px;
    height: 40px;
    border: none;
    text-align: 500px;
    background-color: rgb(243, 223, 200);
}

span{
    font-size: smaller;
    color: rgb(15, 15, 15);
}
    
